{% extends "common/base.html" %}

{% block title %}
    <title>{{ user.name }}'s Profile</title>    
{% endblock %}

{% block content %}
    {% include 'common/nav_bar.html' %}
    <div class="container">
        <h1>{{ user.name }}'s Profile</h1>
        <div class="row">
            <div class="col-md-6">
                <p>Gender: {{ user.gender }}</p>
                <p>Age: {{ user.date_of_birth|age }}</p>
                <img src="{{ url_for('static', path=user.profile_image if user.profile_image else '') }}" alt="Profile Picture" class="img-thumbnail" height="200" width="200">
                <br>
                <br>
                {% if is_owner %}
                    <form method="POST" enctype="multipart/form-data" action="/users/upload-profile-image">
                        <div class="form-group">
                            <input type="file" class="form-control-file" id="profile_image" name="profile_image" accept="image/*">
                        </div>
                        <button type="submit" class="btn btn-primary">Update Profile Image</button>
                    </form>
                    <div class="text-danger font-weight-bold mt-3">
                        {% for error in errors %}
                          <li>{{error}}</li>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% if is_owner %}
                <div class="col-md-6">
                    <h2>Create New Gallery</h2>
                    <form method="post" action="/gallery/new">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Create Gallery</button>
                    </form>
                </div>
            {% endif %}
        </div>
        {% if is_owner or is_follower %}
            <h2>Galleries</h2>
            <ul class="list-group">
                {% for gallery in user.galleries %}
                    <li class="list-group-item"><a href="/gallery/{{ gallery.id }}">{{ gallery.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}