{% extends "common/base.html" %}

{% block title %}
    <title>Successful registration</title>    
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">{{ title }}</div>
        <div class="card-body">
          <div class="alert alert-success" role="alert">
              <p>Your account is registered successfully. An email has been sent to your provided email. Please activate your account with the provided activation url and then <a href="{{ url_for('login') }}">login</a> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
